<app-headers></app-headers>

<!-- #-NOTICIAS -->
<div class="container fuente-open-sans">

	<h2 class="text-center" style="margin-top: 50px; margin-bottom: 15px"><strong>Noticias</strong></h2>
	<h5 class="text-center" style="margin-bottom: 35px">Mantente informado con nuestras noticias mas relevantess</h5>

	<!-- Noticias -->
	<div class="row">

		<!-- Noticia 1 -->
		<div class="col-md-4  d-flex align-items-stretch" style="margin-bottom: 25px">
			<div class="card">
				<a href="#"><img class="card-img-top" style="height: 200px" src="assets/imagenes/acacia.jpg" alt="Card image cap"></a>
			  	<div class="card-body">
					<h5 class="card-title text-center" style="margin-top: 10px">Expo Mueblera verano 2018</h5>
					<p class="card-text text-justify" style="font-size: 14px">Some quick example text to build on the card title and make up the bulk of the card's content.Some quick example text to build on the card title and make up the bulk of the card's content.Some quick example text to build on the card title and make up the bulk of the card's content.</p>
					<p class="card-text text-right"><small class="text-muted">12/06/2018</small></p>
			  	</div>
			</div>
		</div>

		<!-- Noticia 2 -->
		<div class="col-md-4  d-flex align-items-stretch" style="margin-bottom: 25px">
			<div class="card">
				<a href="#"><img class="card-img-top" style="height: 200px" src="assets/imagenes/austria.jpg" alt="Card image cap"></a>
			  	<div class="card-body">
					<h5 class="card-title text-center" style="margin-top: 10px">Expo Mueblera verano 2018</h5>
					<p class="card-text text-justify" style="font-size: 14px">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
					<p class="card-text text-right"><small class="text-muted">12/06/2018</small></p>
			  	</div>
			</div>
		</div>

		<!-- Noticia 3 -->
		<div class="col-md-4  d-flex align-items-stretch" style="margin-bottom: 25px">
			<div class="card">
				<a href="#"><img class="card-img-top" style="height: 200px" src="assets/imagenes/vesubio.jpg" alt="Card image cap"></a>
			  	<div class="card-body">
					<h5 class="card-title text-center" style="margin-top: 10px">Expo Mueblera verano 2018</h5>
					<p class="card-text text-justify" style="font-size: 14px">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
					<p class="card-text text-right"><small class="text-muted">12/06/2018</small></p>
			  	</div>
			</div>
		</div>


		<!-- Noticia 4 -->
		<div class="col-md-4  d-flex align-items-stretch" style="margin-bottom: 25px">
			<div class="card">
				<a href="#"><img class="card-img-top" style="height: 200px" src="assets/imagenes/acacia.jpg" alt="Card image cap"></a>
			  	<div class="card-body">
					<h5 class="card-title text-center" style="margin-top: 10px">Expo Mueblera verano 2018</h5>
					<p class="card-text text-justify" style="font-size: 14px">Some quick example text to build on the card title and make up the bulk of the card's content.Some quick example text to build on the card title and make up the bulk of the card's content.Some quick example text to build on the card title and make up the bulk of the card's content.</p>
					<p class="card-text text-right"><small class="text-muted">12/06/2018</small></p>
			  	</div>
			</div>
		</div>

		<!-- Noticia 5 -->
		<div class="col-md-4  d-flex align-items-stretch" style="margin-bottom: 25px">
			<div class="card">
				<a href="#"><img class="card-img-top" style="height: 200px" src="assets/imagenes/austria.jpg" alt="Card image cap"></a>
			  	<div class="card-body">
					<h5 class="card-title text-center" style="margin-top: 10px">Expo Mueblera verano 2018</h5>
					<p class="card-text text-justify" style="font-size: 14px">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
					<p class="card-text text-right"><small class="text-muted">12/06/2018</small></p>
			  	</div>
			</div>
		</div>

		<!-- Noticia 6 -->
		<div class="col-md-4  d-flex align-items-stretch" style="margin-bottom: 25px">
			<div class="card">
				<a href="#"><img class="card-img-top" style="height: 200px" src="assets/imagenes/vesubio.jpg" alt="Card image cap"></a>
			  	<div class="card-body">
					<h5 class="card-title text-center" style="margin-top: 10px">Expo Mueblera verano 2018</h5>
					<p class="card-text text-justify" style="font-size: 14px">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
					<p class="card-text text-right"><small class="text-muted">12/06/2018</small></p>
			  	</div>
			</div>
		</div>


		<!-- Noticia 7 -->
		<div class="col-md-4  d-flex align-items-stretch" style="margin-bottom: 25px">
			<div class="card">
				<a href="#"><img class="card-img-top" style="height: 200px" src="assets/imagenes/acacia.jpg" alt="Card image cap"></a>
			  	<div class="card-body">
					<h5 class="card-title text-center" style="margin-top: 10px">Expo Mueblera verano 2018</h5>
					<p class="card-text text-justify" style="font-size: 14px">Some quick example text to build on the card title and make up the bulk of the card's content.Some quick example text to build on the card title and make up the bulk of the card's content.Some quick example text to build on the card title and make up the bulk of the card's content.</p>
					<p class="card-text text-right"><small class="text-muted">12/06/2018</small></p>
			  	</div>
			</div>
		</div>

		<!-- Noticia 8 -->
		<div class="col-md-4  d-flex align-items-stretch" style="margin-bottom: 25px">
			<div class="card">
				<a href="#"><img class="card-img-top" style="height: 200px" src="assets/imagenes/austria.jpg" alt="Card image cap"></a>
			  	<div class="card-body">
					<h5 class="card-title text-center" style="margin-top: 10px">Expo Mueblera verano 2018</h5>
					<p class="card-text text-justify" style="font-size: 14px">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
					<p class="card-text text-right"><small class="text-muted">12/06/2018</small></p>
			  	</div>
			</div>
		</div>

		<!-- Noticia 9 -->
		<div class="col-md-4  d-flex align-items-stretch" style="margin-bottom: 25px">
			<div class="card">
				<a href="#"><img class="card-img-top" style="height: 200px" src="assets/imagenes/vesubio.jpg" alt="Card image cap"></a>
			  	<div class="card-body">
					<h5 class="card-title text-center" style="margin-top: 10px">Expo Mueblera verano 2018</h5>
					<p class="card-text text-justify" style="font-size: 14px">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
					<p class="card-text text-right"><small class="text-muted">12/06/2018</small></p>
			  	</div>
			</div>
		</div>

	</div>



	<!-- PAGINATION -->
	<div class="row fuente-open-sans justify-content-md-center justify-content-center">
		<nav aria-label="Page navigation example">
			<ul class="pagination">
				<li class="page-item"><a class="page-link" href="#">Anterior</a></li>
				<li class="page-item"><a class="page-link" href="#">1</a></li>
				<li class="page-item"><a class="page-link" href="#">2</a></li>
				<li class="page-item"><a class="page-link" href="#">3</a></li>
				<li class="page-item"><a class="page-link" href="#">Siguiente</a></li>
			</ul>
		</nav>
	</div>

</div>



<app-footers></app-footers>
