<app-headers></app-headers>
<div>

	<br>
	<h1 class="text-center">Contáctanos</h1>
	<br>
	<h4 class="text-center">Uno de nuestros profesionales te atendera</h4>

	<form [formGroup]="concatoForm" (submit)="doContacto()">
		<div class="row">

			<!-- Input Nombre, Email, Asunto -->
			<div class="col-md-4 offset-md-1">
				<div class="form-group">
					<br>

					<!-- Nombre -->
					<div class="form-group">
						<label><strong>Nombre</strong></label>
						<input type="name"  name="nombre" [validatedInput]="errorMessages.nombre" formControlName="nombre" [(ngModel)]="data.nombre" class="form-control" placeholder="Ingresa tu nombre">
					</div>

					<!-- Correo -->
					<div class="form-group">
						<label><strong>Email</strong></label>
						<input type="email"  name="email" [validatedInput]="errorMessages.email" formControlName="email" [(ngModel)]="data.email" class="form-control" placeholder="Ingresa tu correo o telefono">
					</div>

					<!-- Asunto -->
					<div class="form-group">
						<label><strong>Asunto</strong></label>
						<input type="text" name="asunto" [validatedInput]="errorMessages.asunto" formControlName="asunto" [(ngModel)]="data.asunto"  class="form-control" placeholder="Ingresa tu asunto">
					</div>

					<!-- Mensaje -->
					<div class="form-group">
						<label><strong>Mensaje</strong></label>
						<textarea name="mensaje" [validatedInput]="errorMessages.mensaje" formControlName="mensaje" [(ngModel)]="data.mensaje"  class="form-control" rows="8" placeholder="¿En que podemos ayudarte?"></textarea>
					</div>

					<!-- Boton Enviar -->
					<div class="form-group text-right">
						<br>
						<button type="submit" class="col-md-3 btn btn-enviar"style="border-radius: 2px; background-color: #E6E6E6; color: #000000; width: 80%">Enviar</button>
					</div>
				</div>
			</div>



			<!-- Mapa -->
			<div class="col-md-5 offset-md-1" style="margin-top: 55px">
        <iframe style="border-radius: 25px" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3731.048949486737!2d-103.38717748539129!3d20.748810002652842!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8428af93d389df71%3A0xb624a5dcdfa20856!2sGrupo+Industrial+Mueblero+(GIM)!5e0!3m2!1ses-419!2sca!4v1533960319727" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
			</div>
		</div>
	</form>
</div>


<app-footers></app-footers>
