<div class="row fuente-open-sans" style="margin-top: 25px">
  <div class="col-md-7">
    <img class="logo" src="./assets/Logo-lory.png">
  </div>
	<div class="col-md-4 " >

		<h1 class="rosa-logo">Contáctanos!</h1>
		<h5><fa name="phone" class="rosa-logo" style="margin-right: 20px;"></fa>36566655 / 36562990</h5><!-- en lugar de <i class="fa fa-{glicon}"></i> usa <fa name="glicon"></fa>  la cosa esta ahi pero no aparece .-.-->
		<h5><fa name="envelope-o" class="rosa-logo" style="margin-right: 15px; "></fa>gpoindmueblero@gmail.com</h5>
	</div>

</div>



<nav class="fuente-open-sans" style="margin-top: 25px; border-top: 2px solid #F7C8BE">
	<ul class="col-md-12 text-right">
		<li><a routerLink="/Inicio" routerLinkActive="active">Inicio</a></li>
		<li class="btn-group catalogo-drop"  dropdown>
			<a class="catal"  routerLink="/Catalogo" routerLinkActive="active">Catalogo</a>
		  	<a class="dropdown-toggle arrow-catal rosa-logo" id="button-basic" dropdownToggle
				  aria-controls="dropdown-basic">
				  <span class="caret"></span>
		  	</a>

			<ul id="dropdown-basic" *dropdownMenu class="dropdown-menu"
			  role="menu" aria-labelledby="button-basic">
			  <li role="menuitem"><a class="dropdown-item" routerLink="/Catalogo/Sofa" >Sofás Cama</a></li>
			  <li role="menuitem"><a class="dropdown-item" routerLink="/Catalogo/Modulares" >Modulares</a></li>
			  <li role="menuitem"><a class="dropdown-item" routerLink="/Catalogo/Salas" >Salas</a></li>
		  	</ul>
		</li>
	  	<li><a routerLink="/Telas" routerLinkActive="active">Telas</a></li>
		<li><a routerLink="/Noticias" routerLinkActive="active">Noticias</a></li>
		<li><a routerLink="/Contacto" routerLinkActive="active">Contacto</a></li>
	</ul>
</nav>


