ul{
	margin: 0px;
	padding: 0px;
	list-style: none;


	li{
    display: inline-block;
    vertical-align: top;
	}

	a{
		display: block;
		padding: 12px 24px;
		font-size: 20px;
		color: #000000;
	}

	a:hover{
		text-decoration: none;
	}
}

.dropdown-menu{
  li{
    width: 100%;
    .dropdown-item{
      width: 100%;
      &:hover{
        background-color: #F7C8BE;
      }
    }
  }
}

.catalogo-drop{
  padding-left: 24px;
  padding-right: 24px;
  .catal,.arrow-catal{
    display: inherit;
    padding-left: 0px;
    padding-right: 0px;
  }
}
.logo{
  height: 100px;
}
