<app-headers></app-headers>

<div class="text-center fuente-open-sans" style="margin-top: 45px">
	<h1>Conoce nuestros productos</h1>
	<br><br>
	<img src="assets/Logo-lory.png" style="height: 100px">
</div>


<div class="container">
	<div class="row fuente-open-sans" style="margin-top: 50px">

		<!-- FILA 1 -->
		<div class="col-md-4  d-flex align-items-stretch" style="margin-bottom: 25px">
			<div class="card">
				<div class="card-header text-center" style="font-size: 22px">
					Peyton
				</div>

				<a href="#"><img class="card-img-top" style="height: 200px; width: 100%" src="assets/imagenes/peyton.jpg" alt="Card image cap">
					<div class="overlay text-center">
						<fa name="search" class="text"></fa>
					</div>
				</a>
			</div>
		</div>

		<div class="col-md-4  d-flex align-items-stretch" style="margin-bottom: 25px">
			<div class="card">
				<div class="card-header text-center" style="font-size: 22px">
					Mateo
				</div>
				<a href="#"><img class="card-img-top" style="height: 200px; width: 100%" src="assets/imagenes/mateo.jpg" alt="Card image cap">
					<div class="overlay text-center">
						<fa name="search" class="text"></fa>
					</div>
				</a>
			</div>
		</div>

		<div class="col-md-4  d-flex align-items-stretch" style="margin-bottom: 25px">
			<div class="card">
				<div class="card-header text-center" style="font-size: 22px">
					Royal
				</div>
				<a href="#"><img class="card-img-top" style="height: 200px; width: 100%" src="assets/imagenes/royal.jpg" alt="Card image cap">
					<div class="overlay text-center">
						<fa name="search" class="text"></fa>
					</div>
				</a>
			</div>
		</div>



		<!-- FILA 2 -->
		<div class="col-md-4  d-flex align-items-stretch" style="margin-bottom: 25px">
			<div class="card">
				<div class="card-header text-center" style="font-size: 22px">
					Paris
				</div>

				<a href="#"><img class="card-img-top" style="height: 200px; width: 100%" src="assets/imagenes/paris.jpg" alt="Card image cap">
					<div class="overlay text-center">
						<fa name="search" class="text"></fa>
					</div>
				</a>
			</div>
		</div>

		<div class="col-md-4  d-flex align-items-stretch" style="margin-bottom: 25px">
			<div class="card">
				<div class="card-header text-center" style="font-size: 22px">
					Austria
				</div>

				<a href="#"><img class="card-img-top" style="height: 200px; width: 100%" src="assets/imagenes/austria.jpg" alt="Card image cap">
					<div class="overlay text-center">
						<fa name="search" class="text"></fa>
					</div>
				</a>
			</div>
		</div>

		<div class="col-md-4  d-flex align-items-stretch" style="margin-bottom: 25px">
			<div class="card">
				<div class="card-header text-center" style="font-size: 22px">
					New Castle
				</div>
				<a href="#"><img class="card-img-top" style="height: 200px; width: 100%" src="assets/imagenes/castle.jpg" alt="Card image cap">
					<div class="overlay text-center">
						<fa name="search" class="text"></fa>
					</div>
				</a>
			</div>
		</div>



		<!-- FILA 3 -->
		<div class="col-md-4  d-flex align-items-stretch" style="margin-bottom: 25px">
			<div class="card">
				<div class="card-header text-center" style="font-size: 22px">
					Sofa Cama Cancun
				</div>

				<a href="#"><img class="card-img-top" style="height: 200px; width: 100%" src="assets/imagenes/cancun.jpg" alt="Card image cap">
					<div class="overlay text-center">
						<fa name="search" class="text"></fa>
					</div>
				</a>
			</div>
		</div>

		<div class="col-md-4  d-flex align-items-stretch" style="margin-bottom: 25px">
			<div class="card">
				<div class="card-header text-center" style="font-size: 22px">
					Venti Chocolate
				</div>

				<a href="#"><img class="card-img-top" style="height: 200px; width: 100%" src="assets/imagenes/Venti_Chocolate.jpg" alt="Card image cap">
					<div class="overlay text-center">
						<fa name="search" class="text"></fa>
					</div>
				</a>
			</div>
		</div>

		<div class="col-md-4  d-flex align-items-stretch" style="margin-bottom: 25px">
			<div class="card">
				<div class="card-header text-center" style="font-size: 22px">
					Sofa Cama Ferrero
				</div>

				<a href="#"><img class="card-img-top" style="height: 200px; width: 100%" src="assets/imagenes/ferrero.jpg" alt="Card image cap">
					<div class="overlay text-center">
						<fa name="search" class="text"></fa>
					</div>
				</a>
			</div>
		</div>
	</div>


	<!-- PAGINATION -->
	<div class="row fuente-open-sans justify-content-md-center justify-content-center">
		<nav aria-label="Page navigation example">
			<ul class="pagination">
				<li class="page-item"><a class="page-link" href="#">Anterior</a></li>
				<li class="page-item"><a class="page-link" href="#">1</a></li>
				<li class="page-item"><a class="page-link" href="#">2</a></li>
				<li class="page-item"><a class="page-link" href="#">3</a></li>
				<li class="page-item"><a class="page-link" href="#">Siguiente</a></li>
			</ul>
		</nav>
	</div>
</div>


<app-footers></app-footers>
