footer{
  position: absolute;
  width: 100%;
  background-color: #000000; 
  color: #FFFFFF;
  
	p{
		display: inline-block;
		font-size: 12px;
		margin-top: 15px;
  	}
	
	a{
		color: white;
	}
}
