/* You can add global styles to this file, and also import other style files */

/* #-COLORES */
.rosa-logo, .active{
	color: #F7C8BE !important;
}


/* #-FUENTES */
.fuente-open-sans{
	font-family: 'Open Sans', sans-serif;
}


.carousel-indicators .active {
  background-color: #D1A9A1;
}


.row{
    margin-left: 0;
    margin-right: 0;
    width: 100%;
}

