<app-headers></app-headers>

<br>
<h3 class="text-center container fuente-open-sans">Las mejor calidad brindadas por nuestros proveedores</h3>

<br>
<p class="text-center container fuente-open-sans">Los materiales que utilizamos son sumamente resistentes, con una extraordinaria sensación, de sencillo mantenimiento y calidad excelsa. Seleccionando los mejores diseños para una mejor percepción. Al momento de producir, distribuir y comercializar tenemos amplia experiencia dentro de las compañías muebleras.</p>

<p class="text-center container fuente-open-sans" style="25px">Apoyamos a la industria mexicana, si crecen ellos, crecemos nosotros y que mejor que crecer juntos.</p>


<!-- #-TELAS -->
<div class="container" style="margin-top: 50px">

	<!-- Fila 1 -->
	<div class="row">
		<div class="col-md-3" style="150px">
			<img style="width: 250px; height: 250px; border-radius: 15px" src="assets/telas/roja.jpg">
		</div>

		<div class="col-md-3" style="150px">
			<img style="width: 250px; height: 250px; border-radius: 15px" src="assets/telas/azul-cuadrado.jpg">
		</div>

		<div class="col-md-3" style="150px">
			<img style="width: 250px; height: 250px; border-radius: 15px" src="assets/telas/cafe-rombo.jpg">
		</div>

		<div class="col-md-3" style="150px">
			<img style="width: 250px; height: 250px; border-radius: 15px" src="assets/telas/colores-triangulo.jpg">
		</div>
	</div>


	<!-- Fila 2 -->
	<div class="row" style="margin-top:40px">
		<div class="col-md-3" style="150px">
			<img style="width: 250px; height: 250px; border-radius: 15px" src="assets/telas/gris-flor.jpg">
		</div>

		<div class="col-md-3" style="150px">
			<img style="width: 250px; height: 250px; border-radius: 15px" src="assets/telas/hojas.jpg">
		</div>

		<div class="col-md-3" style="150px">
			<img style="width: 250px; height: 250px; border-radius: 15px" src="assets/telas/moscu.jpg">
		</div>

		<div class="col-md-3" style="150px">
			<img style="width: 250px; height: 250px; border-radius: 15px" src="assets/telas/flor-colores.jpg">
		</div>
	</div>


	<!-- Fila 3 -->
	<div class="row" style="margin-top:40px">
		<div class="col-md-3" style="150px">
			<img style="width: 250px; height: 250px; border-radius: 15px" src="assets/telas/azul.jpg">
		</div>

		<div class="col-md-3" style="150px">
			<img style="width: 250px; height: 250px; border-radius: 15px" src="assets/telas/raya-azul.jpg">
		</div>

		<div class="col-md-3" style="150px">
			<img style="width: 250px; height: 250px; border-radius: 15px" src="assets/telas/cafe.jpg">
		</div>

		<div class="col-md-3" style="150px">
			<img style="width: 250px; height: 250px; border-radius: 15px" src="assets/telas/triangulo-rojo.jpg">
		</div>
	</div>
</div>


<!-- #-PROVEEDORES -->
<div style="margin-top: 100px">
	<h2 class="text-center fuente-open-sans"><strong>Nuestros Proveedores</strong></h2>

	<div class="row text-center">
		<div class="col-md-4">
			<a href="http://www.surtidortapicero.com" target="_blank"><img style="width: 250px; height: 150px" src="assets/proveedores/surtidor.jpg"></a>
		</div>

		<div class="col-md-4">
			<a href="http://www.fatexu.com" target="_blank"><img style="width: 250px; height: 150px" src="assets/proveedores/fatexu.jpg"></a>
		</div>

		<div class="col-md-4">
			<a href="http://www.acopol.com.mx" target="_blank"><img style="width: 250px; height: 150px" src="assets/proveedores/acopol.jpg"></a>
		</div>
	</div>

	<div class="row text-center">
		<div class="col-md-4 offset-md-2">
			<a href="http://www.arte-linea.com.mx" target="_blank"><img style="width: 250px; height: 150px" src="assets/proveedores/artelinea.jpg"></a>
		</div>

		<div class="col-md-4 ">
			<a href="http://www.devatex.com.mx" target="_blank"><img style="width: 250px; height: 150px" src="assets/proveedores/devatex.jpg"></a>
		</div>
	</div>

	<div class="row text-center">
		<div class="col-md-4 offset-md-2">
			<a href="http://www.tedesa.com.mx" target="_blank"><img style="width: 250px; height: 150px" src="assets/proveedores/tedesa.jpg"></a>
		</div>

		<div class="col-md-4 ">
			<a href="http://www.telastextilehouse.com" target="_blank"><img style="width: 250px; height: 150px" src="assets/proveedores/textile.jpg"></a>
		</div>
	</div>


</div>
<app-footers></app-footers>
